{% extends 'base.html' %}

{% block content %}
{{block.super}}

    <div class="slider" id="home">
        <div class="load">
            
        <div class="centered" >
            <h2>MAY INTAKE IS OFFICIALLY OPEN</h2>
                <p style="margin-left:1000">We believe that Education is the key to unlock the golden door of freedom.
                Join us now and lets work for a better future.</p>

        </div>
       
        </div>
        
    
</div>
<div>
        <strong><center><h1>ABOUTUS</h1></center> </strong>
 </div>
 <div class="container">


 <div class="row">
         <div class="col-md-4">
                <strong> <h3 style="color:rgb(59, 2, 2)">Our Vision</h3></strong>
                       <p>To be a pole of radiance and excellence nationally and internationally. With its quality education, research and provision of innovative</p>
         </div>
         <div class="col-md-4">
                <strong><h3 style="color:rgb(59, 2, 2)">Our Mission</h3></strong>
                 <p>To provide quality higher education programmes that match the labor market and development needs of Rwanda for graduates who are</p>
         </div>

         <div class="col-md-4">
                <strong><h3 style="color:rgb(59, 2, 2)">STUDENTS OPPORTUNITY</h3></strong>
                <p>Free classes provided to all students for language proficiency. APPLY NOW</p>
        </div>
 </div>
</div>
<div class="image">
        <div>
                <div>
                <h2 style="text-align: center;color:white;padding:100px;font-size:48px">Start your Saint Joseph experience</h2>

        </div></div>
</div>
<div class="container">
        <div class="row">
                        <center><h1>our courses</h1></center> 
                        <div class="column">  
                                        <div class="card">
                                                <!-- <div class="col-md-4"> -->
                                                <img src="https://as1.ftcdn.net/jpg/00/02/51/64/500_F_2516477_M4fBUmw6G3ZNgLdI6lPD1XpUI6cHZs.jpg"width="100%">
                                                <h2 style="color:rgb(71, 2, 2);font-size:12"><strong>Faculty of Law</strong></h2>
                                                <p>About UoKLD Study at UoK Faculty About UoKLD Study at UoKLD Faculty Message from the Dean Vision, Mission & Values…</p>
                                                <p><button class="button">learn more</button></p>
                                                       
        
        
                                        </div>                                                      
        </div>
        <div class="column">
                        <div class="card">
                        <img src="https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"width="100%">
                        <h2 style="color:rgb(71, 2, 2);font-size:12"><strong>Faculty of Information Technology & Architecture Profiles</strong></h2>
                        <p>About UoKLD   Study at UoKLD   Faculty Dr. Liliane UMUTESI Mr. KATENDE Nicholas Mr. KARAMUZI James Mr. KAYITABA…</p>
                        <p><button class="button">learn more</button></p>
                               


                </div> 
        </div>   



        <div class="column">
                        <div class="card">
                        <img src="https://as1.ftcdn.net/jpg/01/71/01/44/500_F_171014477_uvHfpvTj5PphZf9AzrojcOGzegQJy7dj.jpg"width="100%">
                        <h2 style="color:rgb(71, 2, 2);font-size:12"><strong>School of Accountancy</strong></h2>
                        <p>About UoKLD Study at UoK Faculty ABOUT UoK School Of Accountancy University of Kigali, School of Accountancy (SOA) offers professional…</p>
                        <p><button class="button">learn more</button></p>
                               


                </div> 
        </div>  
        
       
</div>
</div>

{% endblock %} 