{% extends 'base.html' %}

{% block content %}
{{block.super}}
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="mssvss">
        <div class="container" >
            <div class="row" >
                <div class="col-md-6" id="box">
                 <h2>Mission</h2>
                  <p>To provide quality higher education programmes that match the labor market and development needs of Rwanda for graduates who are capable of contributing to national economic and social needs and who can compete on the international labor market.</p>
                </div><br><br><br>

                <div class="col-md-6" id="boxe">
                <h2>Vision</h2>
                <p>To be a pole of radiance and excellence nationally and internationally. With its quality education, research and provision of innovative services to community.</p>
            </div><br><br><br>
        </div>
        <div class="row">
        <div class="col-md-6" id="boxes">
                <h2>Our pholosophie</h2>
                 <p>Saint Joseph has the vision of radiance and excellence with its quality education, research, servicesto community and utilization of new information</p>
               </div><br><br><br>
               <div class="col-md-6" id="boxez">
                    <h2>Our Motto</h2>
                     <p>Labour for the future</p>
                   </div><br><br><br>
            </div>

        </div>
    

    </body>
</html>

{% endblock %}